body {
    background-color: bisque;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

h2 {
    font-size: medium;
}

h3 {
    font-size: medium;
}
#title {
    background-color: pink;
    padding: 20px;
}

#main-container {
    width: 100%;
}

#engineer-card {
    padding: 10px;
    width: 100%;
    border: 1px solid black;
}

#intern-card {
    padding: 10px;
    width: 100%;
    border: 1px solid black;
}


#manager-card {
    padding: 10px;
    width: 100%;
    border: 1px solid black;
}


.card-header {
    background-color: pink;
    padding: 10px;
    width: 100%;
}

.card-body {
    background-color: rgb(226, 223, 223);
    padding: 10px;
    width: 100%;
}

.list-group-item {
    background-color: greenyellow;
    padding: 10px;
    width: 100%;
}



